<div id="contact">
  <h1>Contact</h1>
  <form action="https://formspree.io/{{site.data.settings.email}}" method="POST">
    <div class="form-group">
      <input type="text" class="form-control" name="name" placeholder="Your name">
      <input type="email" class="form-control" name="_replyto" placeholder="Your e-mail">
      <input type="hidden" name="_subject" value="New contact form submission">
      <textarea rows="6" name="message" class="form-control" placeholder="Your message"></textarea>
      <input type="hidden" name="_next" value="{{ site.url}}/thanks.html">
    </div>
    <button type="submit" class="submit-button">Submit</button>
  </form>
  <a href="http://twitter.com/dslemay" class="social-icon" target="_blank">
    <i class="fa fa-twitter fa-2x"></i>
  </a>
  <a href="https://www.linkedin.com/in/dslemay" class="social-icon" target="_blank">
    <i class="fa fa-linkedin-square fa-2x"></i>
  </a>
  <a href="https://github.com/dslemay" class="social-icon" target="_blank">
    <i class="fa fa-github fa-2x"></i>
  </a>
</div>