<div id="portfolio">
  <h1>Portfolio</h1>
  <div class="row">
    <div class="col-lg-4">
    <img src="http://placehold.it/250x250" class="img-responsive portfolio-image" alt="Project example placeholder">
    </div>
    <div class="col-lg-4">
    <img src="http://placehold.it/250x250" class="img-responsive portfolio-image" alt="Project example placeholder">
    </div>
    <div class="col-lg-4">
    <img src="http://placehold.it/250x250" class="img-responsive portfolio-image" alt="Project example placeholder">
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-lg-4">
    <img src="http://placehold.it/250x250" class="img-responsive portfolio-image" alt="Project example placeholder">
    </div>
    <div class="col-lg-4">
    <img src="http://placehold.it/250x250" class="img-responsive portfolio-image" alt="Project example placeholder">
    </div>
    <div class="col-lg-4">
    <img src="http://placehold.it/250x250" class="img-responsive portfolio-image" alt="Project example placeholder">
    </div>
  </div>
</div>
<hr>
