#contact {
  margin-left: $sectionLeftMargin;
}

.social-icon {
  margin-right: 5px;

  i {
    color: $mediumAccent;

    &:hover {
      color: $baseColor;
    }
  }
}

form {
  display: block;
  max-width: 400px;
  margin-bottom: 20px;
  padding-right: 15px;

  input {
    margin-bottom: 10px;

    &:focus {
      border-color: $baseColor !important;
    }
  }

  textarea:focus {
    border-color: $baseColor !important;
  }

  .submit-button {
    background-color: $baseColor;
    color: $lightAccent;
  }
}
