
#navbar {
  background-color: $baseColor;
  a {
    color: $lightAccent;
    &:hover {
      color: $mediumAccent;
    }
  }
}
.navbar-name {
  font-family: Tangerine, cursive, Helvetica;
  font-size: 140%;
}
