#portfolio {
  margin-left: $sectionLeftMargin;
}

.portfolio-belt {
  //max-width: 85%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .portfolio-thumb {
    max-width: 45%;
    margin-top: 25px;
  }
}

.portfolio-image {
  display: block;
  margin: auto;
}
