#portfolio {
  margin-left: $sectionLeftMargin;
}

.portfolio-belt {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .portfolio-thumb {
    max-width: 45%;
    margin-top: 25px;
  }
}

.portfolio-image {
  display: block;
  margin: auto;
}

@media screen and (max-width: $screenBreak) {
  .portfolio-belt {
    flex-direction: column;
    align-items: center;

    .portfolio-thumb {
      max-width: 90%;
      margin-top: 15px;
    }
  }
}
