h1 {
  text-align: center;
}

.post-content {
  margin-top: 75px;
  margin-left: 25px;
  margin-right: 25px;

  a {
    color: $mediumAccent;
    text-decoration: underline;

    &:hover {color:$baseColor;}
  }
}

#blog-back {
  text-decoration: none;
  display: block;
  font-size: 16px;
}

.read-more {
  text-decoration: none !important;
  display: block;
  font-size: 16px;
}

.other-post-nav {
  margin: 0 auto;
  text-align: center;

  .previous-link {
    margin-right: 40px;
  }

  @media screen and (max-width: 375px) {
    span {
      display: block;
      }
    .previous-link {
      margin-right: auto;
      padding-bottom: 10px;
    }
  }
}
