h1 {
  text-align: center;
}

.pagination {
  a {margin-right: 10px;}
  span {margin-right: 10px;}
}

.rss-button {
  display: block;
  text-align: right;
  margin-right: 20px;
}

.post-content {
  margin-top: 80px;
  margin-left: 25px;
  margin-right: 25px;

  a {
    color: $mediumAccent;
    text-decoration: underline;

    &:hover {color:$baseColor;}
  }
}

.post-controls {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: $screenBreak) {
    width: 100%;
    margin-bottom: 15px;
  }
}

#blog-back {
  text-decoration: none;
  display: block;
  font-size: 16px;
}

.read-more {
  text-decoration: none !important;
  display: block;
  font-size: 16px;
}

.social-share {
  margin-left: 30px;
  margin-bottom: 15px;
}

.other-post-nav {
  margin: 0 auto;
  text-align: center;

  .previous-link {
    margin-right: 40px;
  }

  @media screen and (max-width: 375px) {
    span {
      display: block;
      }
    .previous-link {
      margin-right: auto;
      padding-bottom: 10px;
    }
  }
}
