h1 {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px;
}
.post-content {
  margin: 80px 25px 0 25px;

  a {
    color: $mediumAccent;
    text-decoration: underline;

    &:hover {color:$baseColor;}
  }

  img {
    width: 600px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
  }
}
.post-controls {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: $screenBreak) {
    width: 100%;
    margin-bottom: 15px;
  }
}

#blog-back {
  text-decoration: none;
  display: block;
  font-size: 16px;
}

.social-share {
  margin-left: 30px;
  margin-bottom: 15px;
}

.other-post-nav {
  margin: 0 auto;
  text-align: center;

  .previous-link {
    margin-right: 40px;
  }

  @media screen and (max-width: 375px) {
    span {
      display: block;
      }
    .previous-link {
      margin-right: auto;
      padding-bottom: 10px;
    }
  }
}

blockquote {
  padding: 15px 15px 5px 40px;
  display: block;
  position: relative;
  border-left: 5px solid $mediumAccent;
  text-align: justify;
  box-shadow: 2px 2px 15px #ccc;
}

blockquote::before {
  content: "\201C";
  font-size: 60px;
  font-family: Georgia, serif;
  font-weight: bold;
  position: absolute;
  top: -10px;
  left: 5px;
  color: $baseColor;
}

blockquote::after{
  content: "\201D";
  font-size: 60px;
  font-family: Georgia, serif;
  font-weight: bold;
  position: absolute;
  bottom: -35px;
  right: 5px;
  color: $baseColor;
}
