.post-content {
  margin: 80px 25px 0 25px;

  a {
    color: $mediumAccent;
    text-decoration: underline;

    &:hover {color:$baseColor;}
  }

  img {
    width: 300px;
    max-width: 100%;
    float: left;

    @media screen and (max-width: $screenBreak) {
      width: 400px;
      float: none;
      display: block;
      margin: 0 auto;
      margin-bottom: 15px;
    }
  }
}

.pagination {
  a {margin-right: 10px;}
  span {margin-right: 10px;}
}

.rss-button {
  display: block;
  text-align: right;
  margin-right: 20px;
  margin-bottom: 10px;
}

.read-more {
  text-decoration: none !important;
  display: block;
  font-size: 16px;
}
//
// .center-image {
//   max-width: 300px;
//   float: left;
//   margin-right: 15px;
// }
