// Color Variarbles

$baseColor: #2D3B7F;
$lightAccent: #A6B6FF;
$mediumAccent: #5A77FF;
$darkAccent: #485FCC;

// Formatting Variables

$sectionLeftMargin: 15px;
$screenBreak: 600px;

// Sitewide styling

body {
  font-family: 'Nunito', sans-serif;
}

h1 {
  font-family: Tangerine, cursive, Helvetica;
  font-size: 300%;
  color: $darkAccent;
  
  @media screen and (max-width: $screenBreak) {
    font-size: 200%;
  }
}

h2 {
  font-family: Tangerine, cursive, Helvetica;
  font-size: 40px;
  color: $darkAccent;
}

hr {
  border-color: $mediumAccent;
}
