@import url("https://fonts.googleapis.com/css?family=Bitter:400i|Indie+Flower");
.ttt-game-wrapper {
  background-color: #efecca;
  width: 100vw;
  height: 100vh; }

.ttt-game-winner {
  text-align: center;
  color: #1f1456;
  height: 100px;
  font-size: 78px;
  font-family: 'Bitter', serif;
  user-select: none; }

.ttt-game-board {
  width: auto;
  margin: 0 auto;
  margin-top: 50px;
  border-spacing: 0px; }
