.cells {
  width: 105px;
  height: 105px;
  border: 6px solid #a7a37e;
  border-collapse: collapse;
  font-size: 66px;
  font-family: 'Indie Flower', cursive;
  user-select: none;
  cursor: pointer; }
  .cells div {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }

.cell-0 {
  border-left: none;
  border-top: none; }

.cell-1 {
  border-top: none; }

.cell-2 {
  border-top: none;
  border-right: none; }

.cell-3 {
  border-left: none; }

.cell-5 {
  border-right: none; }

.cell-6 {
  border-left: none;
  border-bottom: none; }

.cell-7 {
  border-bottom: none; }

.cell-8 {
  border-right: none;
  border-bottom: none; }

.x-marker {
  color: #046380; }

.o-marker {
  color: #002f2f; }
