---
---

@import "vars";
@import "section-dir";

body {
  font-family: 'Nunito', sans-serif;
}

h1 {
  font-family: Tangerine, cursive, Helvetica;
  font-size: 300%;
  color: $darkAccent;
}

hr {
  border-color: $mediumAccent;
}
