#sessionTime-timer-controls {
  margin-right: 100px; }
  @media screen and (max-width: 425px) {
    #sessionTime-timer-controls {
      margin-right: 30px; } }

.timer-control-name {
  font-size: 24px;
  color: #BDD684;
  font-family: "Roboto", sans-serif; }
  @media screen and (max-width: 360px) {
    .timer-control-name {
      text-align: center; } }

.controls {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.timerTotal {
  font-size: 36px;
  color: #BDD684;
  font-family: "Roboto", sans-serif; }

.adjust-time {
  cursor: pointer;
  width: 30px;
  height: 30px;
  font-size: 24px;
  background-color: #10222B;
  border: 0;
  color: #95AB63;
  display: flex;
  justify-content: center;
  align-items: center; }
