.timer-countdown {
  background: #E2F0D6;
  background: linear-gradient(to bottom right, #BDD684, #95AB63);
  border: 0;
  font-family: "Roboto", sans-serif;
  color: #10222B;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  margin-top: 45px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none; }
  .timer-countdown h2 {
    font-size: 28px; }
  .timer-countdown span {
    font-size: 22px; }

.play-pause-btn {
  margin-top: 25px; }
