---
title: "Daniel Lemay | Blog"
layout: "default"
---
<a href="{{ site.url}}/feed.xml" class="rss-button" target="_blank"><i class="fa fa-rss fa-2x" aria-hidden="true"></i></a>
{% for post in paginator.posts %}
  <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
  <p class="author">
    <span class="date">{{ post.date }}</span>
  </p>
  <div class="content">
    {{ post.excerpt }}
  </div>
  <a href="{{ post.url }}" class="read-more">Read More <i class="fa fa-chevron-right"></i></a>
  <hr>
{% endfor %}

<!-- Pagination links -->
<!--Uncomment this code when reach beyond 5 posts
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
-->
