@import url("https://fonts.googleapis.com/css?family=Ultra");
.simon-app {
  width: 100vw;
  height: 100vh;
  background-color: #aaa; }

.game {
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 6%;
  position: relative; }
  @media screen and (max-width: 575px) {
    .game {
      max-width: 375px; } }

.test {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.game-control-wrapper {
  width: 50%;
  background-color: #ddd;
  border-radius: 50%;
  border: solid 15px #333;
  user-select: none;
  cursor: default; }
  .game-control-wrapper h1 {
    text-align: center;
    margin-top: 20%;
    font-family: 'Ultra', serif;
    font-size: 48px;
    color: black;
    margin-bottom: 5%; }
    @media screen and (max-width: 575px) {
      .game-control-wrapper h1 {
        font-size: 30px; } }

.game-controls {
  display: flex;
  width: 95%;
  margin: 0 auto;
  justify-content: space-around;
  align-items: flex-end; }
  @media screen and (max-width: 575px) {
    .game-controls {
      font-size: 9px;
      padding: 0 9px; } }
