.counter-wrap {
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media screen and (max-width: 575px) {
    .counter-wrap {
      width: 35px;
      height: 35px; } }

.count-label {
  margin-top: 5px; }

.counter-display {
  width: 100%;
  height: 80%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4f0200; }

.current-count {
  font-size: 24px;
  color: red; }
  @media screen and (max-width: 575px) {
    .current-count {
      font-size: 15px; } }

.counter-blink {
  animation-name: blink;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-iteration-count: 3; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
