.power-button-wrapper {
  margin: 0 auto;
  margin-top: 15%;
  width: 80%;
  height: 25px;
  padding-bottom: 10%;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media screen and (max-width: 575px) {
    .power-button-wrapper {
      font-size: 11px;
      height: 15px;
      margin-top: 7%;
      width: 55%; } }

.toggle-power {
  width: 60px;
  height: inherit;
  display: inline-block;
  cursor: pointer;
  background-color: black; }

.toggle-power-button {
  width: 50%;
  height: inherit;
  display: inline-block;
  background-color: blue;
  transition: transform 500ms; }

.power-identifiers,
.toggle-power {
  margin-right: 8px; }
  @media screen and (max-width: 575px) {
    .power-identifiers,
    .toggle-power {
      margin-right: 5px; } }

.power-on {
  transform: translateX(100%); }
