.calculator-app-container {
  width: 100vw;
  height: 100vh;
  padding-top: 3rem;
  background-color: #6198bf; }

.calculator {
  width: 310px;
  margin: 0 auto;
  background-color: #001429;
  box-shadow: 7px 7px 10px #1f4973; }

.calculator-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3px 10px 10px 10px;
  background-color: #001429; }
