---
---
$avatarSize: 100px;
$baseColor: #6441A4;
$accentColor: #0E9DD9;
$hoverColor: lighten($baseColor, 10%);

body {
  background-color: #DDD;
}

h1 {
  text-align: center;
  padding-top: 20px;
  margin-bottom: 0px;
  padding-bottom: 20px;
  background-color: $accentColor;
  color: #000;
}

.twitch-viewer {
  margin: 0 auto;
  max-width: 60%;
  background-color: $baseColor;
  color: #FFF;

  @media screen and (max-width: 600px) {
    max-width: 100%;
  }
}

.menubar {
  display: flex;
  justify-content: space-between;
  background-color: $accentColor;

  a {
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: center;
    color: #000;
    transition: background-color 350ms;

    &:hover {
      background-color: $hoverColor;
    }
  }

  .active {
    background-color: lighten($baseColor, 10%);
  }

  #refresh-data {
    cursor: pointer;
    color: #000;
    margin-right: 15px;
    margin-left: 10px;
  }

  .rotate-refresh {
    animation-name: spin;
    animation-duration: 2s;
  }

  @keyframes spin {
    100% {
      transform: rotate(720deg);
    }
  }
}

.twitch-user {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;

  .twitch-avatar-container {
    width: $avatarSize;
    height: $avatarSize;
    margin-left: 25px;

    @media screen and (max-width: 600px) {
      width: 75px;
      height: 75px;
    }

    .twitch-avatar {
      border-radius: 50%;
      max-width: $avatarSize;
      max-height: $avatarSize;

      @media screen and (max-width: 600px) {
        max-width: 75px;
        max-height: 75px;
      }
    }
  }
}

.twitch-username {
  font-weight: bold;
  font-size: 20px;
  text-align: center;

  @media screen and (max-width: 600px) {font-size: 16px;}
}

.twitch-game {
  font-style: italic;
  font-size: 18px;
  text-align: center;

  @media screen and (max-width: 600px) {font-size: 14px;}
}

.icons {
  margin-right: 25px;

  .online-icon {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 25px;
  }

  a {
    color: #DDD;
    transition: color 350ms;

    &:visited {
      color: #DDD;
    }

    &:hover {
      color: $accentColor;
    }
  }
}

.img-placeholder {
  display: block;
  visibility: hidden;
}
